
nav.second-menu {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 0 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav.second-menu .bloc-droit {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

nav.second-menu .bloc-droit a {
    color: white;
    text-decoration: none;
    position: relative;
}

nav.second-menu .bloc-droit a:after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #eb2d0e;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scale(0);
    transform-origin: center;
    transition: transform .3s;
}

nav.second-menu .bloc-droit a:hover:after {
    transform: scale(1);
}


.second-menu > div {
    position: relative;
}

.second-menu .hover {
    position: absolute;
    top: 0;
    z-index: -1;
}

nav.second-menu .bloc-droit li:not(:last-child) {
    margin-right: 1.6rem;
}

.second-menu .default .home-item, .second-menu .hover .home-item {
    font-weight: bold;
    background-image: linear-gradient(31deg, #e80c0c -2%, #f5b312);
    font-size: 1.2em;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Permanent Marker', cursive;
    opacity: 1;
    transition: all .3s;
}

.second-menu .hover .home-item {

    background-image: linear-gradient(45deg, #f5b312 -10%,#e80c0c );
    opacity: 1;
    transition: all .5s;
}

.second-menu .default .home-item:hover {
    opacity: 0;
}


:root {
    --base1: #EBEFF3;
    --base2: #C3D0DB;
    --base3: #88A1B7;
    --baseDark1: #396387;
    --baseDark2: #204566;
    --baseDark3: #152E44;
    --base: #090E10;
    --primary1: #FFA68B;
    --primary2: #FF7145;
    --primary3: #FF3D00;
    --primaryDark1: #BA2D00;
    --primaryDark2: #741C00;
    --primaryDark3: #5C2511;
    --primary: #2F0C00;
    --base-shadow: inset 0px 0px 0px var(--base3),
    inset 0px 0px 0px var(--base1),
    4px 4px 9px var(--base3),
    -4px -4px 9px var(--base1);
    --base-shadow-active: inset 4px 4px 9px var(--base3),
    inset -4px -4px 6px var(--base1),
    2px 2px 9px var(--base3),
    -2px -2px 9px var(--base1);
    --base-shadow-neutral: inset 0px 0px 0px var(--base3),
    inset 0px 0px 0px var(--base1),
    4px 4px 16px var(--base2),
    -4px -4px 16px var(--base2);
    --base-shadow-neutral-active: inset 2px 2px 6px var(--base3),
    inset -2px -2px 6px var(--base1),
    2px 2px 6px var(--base3),
    -2px -2px 6px var(--base1);
    --primary-shadow: inset 0px 0px 0px var(--primary3),
    inset 0px 0px 0px var(--primary1),
    4px 4px 9px var(--primary3),
    -4px -4px 9px var(--primary1);
    --primary-shadow-active: inset 4px 4px 9px var(--primaryDark1),
    inset -4px -4px 6px var(--primary2),
    2px 2px 9px var(--primaryDark1),
    -2px -2px 9px var(--primary1);
    --primary-shadow-neutral: inset 0px 0px 0px var(--primary3),
    inset 0px 0px 0px var(--primary1),
    4px 4px 16px var(--primary2),
    -4px -4px 16px var(--primary2);
    --primary-shadow-neutral-active: inset 2px 2px 6px var(--primary3),
    inset -2px -2px 6px var(--primary1),
    2px 2px 6px var(--primary3),
    -2px -2px 6px var(--primary1);
    --shadow-transition: all 0.25s cubic-bezier(.17, .67, .83, .67);
    --text-shadow:
            -0.6px -0.6px 0px var(--baseDark1),
            0.6px -0.6px 0px var(--baseDark1),
            0.6px 0.6px 0px var(--baseDark1),
            -0.6px 0.6px 0px var(--baseDark1)
;
    --input-shadow:
            2px 2px 9px var(--base3),
            -2px -2px 9px var(--base1)
;
    --input-shadow-active:
            inset 2px 2px 6px var(--base3),
            inset -2px -2px 6px var(--base1),
            1px 1px 6px var(--base3),
            -1px -1px 6px var(--base1)
;
    --input-shadow-valid:
            inset 2px 2px 4px var(--base3),
            inset -2px -2px 4px var(--base1),
            1px 1px 6px var(--base3),
            -1px -1px 6px var(--base1)
;
    --input-radio-inner-valid:
            inset 2px 2px 4px var(--base3),
            inset -2px -2px 4px var(--base1),
            1px 1px 4px var(--base3),
            -1px -1px 4px var(--base1)
;
}
body {
    background-color: var(--base2);
    color: var(--baseDark2);
    height: calc(100vh - 85px);
}
input, textarea {
    width: 100%;
    border-radius: 10px;
    min-height: 30px;
    padding: 10px 15px;
    margin-top: 5px;
    background: var(--base2);
    border: 2px solid var(--base2);
    box-shadow: var(--input-shadow);
    -webkit-transition: var(--shadow-transition);
    transition: var(--shadow-transition);
    color: var(--base3);
}
.send input {
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 500px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-transition: var(--shadow-transition);
    transition: var(--shadow-transition);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--baseDark2);
    background: var(--base2);
    border: 2px solid var(--base2);
    box-shadow: var(--base-shadow);
}

.send input:hover {
    outline: none;
    box-shadow: var(--base-shadow-active);
    color: var(--baseDark2);
    border-color: var(--base3);
}

.container-contact .group {
    position: relative;
}

.container-contact label {
    position: absolute;
    left: 18px;
    top: 17px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.container-contact input:focus:enabled,
.container-contact input:active:enabled, .container-contact textarea:active:enabled,
.container-contact textarea:focus:enabled {
    outline: none;
    color: var(--baseDark2);
    border-color: var(--base3);
    box-shadow: var(--input-shadow-active);
}

.container-contact input:focus:enabled + label,
.container-contact input:active:enabled + label,
.container-contact textarea:active:enabled + label,
.container-contact textarea:focus:enabled + label {
    -webkit-transform: translateY(-34px) scale(0.9);
    transform: translateY(-34px) scale(0.9);
    font-weight: 600;
}
.container-contact {
    width: 20%;
    width: 100%;
    display: flex;
    height: 87%;
    justify-content: center;
    align-items: center;
}

.container-contact form {
    width: 20%;
}

.container-contact .group {
    margin-bottom: 2rem;
}

.infos-contact {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-around;
}

.container-contact form {
    width: 20%;
}

.container-contact .group {
    margin-bottom: 2rem;
}

.infos-contact {
}

* {
    box-sizing: border-box;
}

.infos-contact {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-around;
}

.infos-contact div span {
    display: block;
}

.infos-contact div {
    font-size: 3rem;
    text-align: center;
}

.infos-contact a {
    color: black;
    text-decoration: none;
    position: relative;
}

.infos-contact div a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #eb2d0e;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scale(0);
    transform-origin: center;
    transition: transform .3s;
}

.infos-contact div a:hover:after {
    transform: scale(1);
}

textarea {
    height: 200px;
}

.infos-contact .tel {
    transform: translateX(-50%);
    opacity: 0;
}

.infos-contact .mail {
    transform: translateX(50%);
    opacity: 0;
}

.container-contact form {
    transform: translateY(50%);
    opacity: 0;
}