/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
    --base1: #EBEFF3;
    --base2: #C3D0DB;
    --base3: #88A1B7;
    --baseDark1: #396387;
    --baseDark2: #204566;
    --baseDark3: #152E44;
    --base: #090E10;
    --primary1: #FFA68B;
    --primary2: #FF7145;
    --primary3: #FF3D00;
    --primaryDark1: #BA2D00;
    --primaryDark2: #741C00;
    --primaryDark3: #5C2511;
    --primary: #2F0C00;
    --base-shadow: inset 0px 0px 0px var(--base3),
    inset 0px 0px 0px var(--base1),
    4px 4px 9px var(--base3),
    -4px -4px 9px var(--base1);
    --base-shadow-active: inset 4px 4px 9px var(--base3),
    inset -4px -4px 6px var(--base1),
    2px 2px 9px var(--base3),
    -2px -2px 9px var(--base1);
    --base-shadow-neutral: inset 0px 0px 0px var(--base3),
    inset 0px 0px 0px var(--base1),
    4px 4px 16px var(--base2),
    -4px -4px 16px var(--base2);
    --base-shadow-neutral-active: inset 2px 2px 6px var(--base3),
    inset -2px -2px 6px var(--base1),
    2px 2px 6px var(--base3),
    -2px -2px 6px var(--base1);
    --primary-shadow: inset 0px 0px 0px var(--primary3),
    inset 0px 0px 0px var(--primary1),
    4px 4px 9px var(--primary3),
    -4px -4px 9px var(--primary1);
    --primary-shadow-active: inset 4px 4px 9px var(--primaryDark1),
    inset -4px -4px 6px var(--primary2),
    2px 2px 9px var(--primaryDark1),
    -2px -2px 9px var(--primary1);
    --primary-shadow-neutral: inset 0px 0px 0px var(--primary3),
    inset 0px 0px 0px var(--primary1),
    4px 4px 16px var(--primary2),
    -4px -4px 16px var(--primary2);
    --primary-shadow-neutral-active: inset 2px 2px 6px var(--primary3),
    inset -2px -2px 6px var(--primary1),
    2px 2px 6px var(--primary3),
    -2px -2px 6px var(--primary1);
    --shadow-transition: all 0.25s cubic-bezier(.17, .67, .83, .67);
    --text-shadow:
            -0.6px -0.6px 0px var(--baseDark1),
            0.6px -0.6px 0px var(--baseDark1),
            0.6px 0.6px 0px var(--baseDark1),
            -0.6px 0.6px 0px var(--baseDark1)
;
    --input-shadow:
            2px 2px 9px var(--base3),
            -2px -2px 9px var(--base1)
;
    --input-shadow-active:
            inset 2px 2px 6px var(--base3),
            inset -2px -2px 6px var(--base1),
            1px 1px 6px var(--base3),
            -1px -1px 6px var(--base1)
;
    --input-shadow-valid:
            inset 2px 2px 4px var(--base3),
            inset -2px -2px 4px var(--base1),
            1px 1px 6px var(--base3),
            -1px -1px 6px var(--base1)
;
    --input-radio-inner-valid:
            inset 2px 2px 4px var(--base3),
            inset -2px -2px 4px var(--base1),
            1px 1px 4px var(--base3),
            -1px -1px 4px var(--base1)
;
}
body {
    background-color: var(--base2);
    color: var(--baseDark2);
    height: calc(100vh - 85px);
}
input:not([type=checkbox]), textarea {
    width: 100%;
    border-radius: 10px;
    min-height: 30px;
    padding: 10px 15px;
    margin-top: 5px;
    background: var(--base2);
    border: 2px solid var(--base2);
    -webkit-box-shadow: var(--input-shadow);
    box-shadow: var(--input-shadow);
    -webkit-transition: var(--shadow-transition);
    -o-transition: var(--shadow-transition);
    transition: var(--shadow-transition);
    color: var(--base3);
}

.body--contact {
    min-height: 1008px;
}

.group.chekbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.group.chekbox label {
    position: relative;
}

input#chekbox {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    display: block;
}

.send input {
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 500px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-transition: var(--shadow-transition);
    -o-transition: var(--shadow-transition);
    transition: var(--shadow-transition);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--baseDark2);
    background: var(--base2);
    border: 2px solid var(--base2);
    -webkit-box-shadow: var(--base-shadow);
    box-shadow: var(--base-shadow);
}

.send input:hover {
    outline: none;
    -webkit-box-shadow: var(--base-shadow-active);
    box-shadow: var(--base-shadow-active);
    color: var(--baseDark2);
    border-color: var(--base3);
}

.container-contact .group {
    position: relative;
}

.container-contact label {
    position: absolute;
    left: 18px;
    top: 17px;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.container-contact input:focus:enabled:not([type=checkbox]),
.container-contact input.active:not([type=checkbox]),
.container-contact textarea.active,
.container-contact input:active:enabled:not([type=checkbox]), .container-contact textarea:active:enabled,
.container-contact textarea:focus:enabled {
    outline: none;
    color: var(--baseDark2);
    border-color: var(--base3);
    -webkit-box-shadow: var(--input-shadow-active);
    box-shadow: var(--input-shadow-active);
}

.container-contact input:focus:enabled:not([type=checkbox]) + label,
.container-contact input.active:not([type=checkbox]) + label,
.container-contact input:active:enabled:not([type=checkbox]) + label,
.container-contact textarea:active:enabled + label,
.container-contact textarea.active + label,
.container-contact textarea:focus:enabled + label {
    -webkit-transform: translateY(-34px) scale(0.9);
    -ms-transform: translateY(-34px) scale(0.9);
    transform: translateY(-34px) scale(0.9);
    font-weight: 600;
}

.container-contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 87%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5rem;
}

.success {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: black;
    background: #73dc73;
    padding: 1rem;
    font-size: 1.2em;
   /*display: none; */
}

[type=checkbox]:hover {
    cursor: pointer;
}


.container-contact .group {
    margin-bottom: 2rem;
}

.infos-contact {
    position: relative;
    top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.container-contact form {
    max-width: 600px;
}

.container-contact .group {
    margin-bottom: 2rem;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.infos-contact {
    position: relative;
    top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.infos-contact div span {
    display: block;
}

.infos-contact div {
    font-size: 3rem;
    text-align: center;
}

.infos-contact a {
    color: black;
    text-decoration: none;
    position: relative;
}

.infos-contact div a:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #eb2d0e;
    position: absolute;
    bottom: -2px;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.infos-contact div a:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

textarea {
    height: 200px;
}

.infos-contact .tel {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
}

.infos-contact .mail {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
}

.container-contact form {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
}