body {
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

section.bloc-central {
    width: 72%;

    display: flex;
    flex-direction: column;

}

nav.second-menu .bloc-droit a {
    color: black !important;
}

nav.position-portfolio {
    width: 14%;
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 1rem;
}

.container-filtres {
    width: 14%;
    position: relative;
    height: 100vh;
}

nav.position-portfolio ul {
    list-style-type: none;
    padding-left: 0;
    height: fit-content;
    position: fixed;
    width: 18%;
}

nav.position-portfolio .sub-elt {
    font-family: 'Roboto', sans-serif;
}

nav.position-portfolio .sub-elt .nombre {
    font-weight: bold;
    font-size: 1.8em;
    position: relative;
}

nav.position-portfolio .sub-elt .texte-fin {
    font-size: 0.8em;
    margin-left: 1rem;
    color: #00000000;
    transform: translateX(-20px);
    transition: all .5s;
}

nav.position-portfolio .sub-elt {
    display: flex;
    align-items: center;
    position: relative;
}


section.bloc-central div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.bloc-central h2, .container-projet h1{
    font-size: 6rem;
    font-family: 'Times New Roman', serif;
    margin: 0;
}


.container-projet h1{
    font-size: 4rem;
}

section.bloc-central .img-transparente {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 590px;
    background-size: cover;
    background-position: center;
    transform: translate3d(20px, 35px, 0) scale(0.9);
    opacity: 0;
    transition: all .5s ease-in-out;
}

.portfolio:hover> .img-transparente, .bloc-mvt .active .img-transparente {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: .4;
}

section.bloc-central h3 {
    margin: 0;
    opacity: 0;
    transition: opacity .5s;
    transition-delay: .1s
    color: #0000009e;
}

.portfolio:hover>h3, .bloc-mvt .active h3 {
    opacity: .8;
}

section.bloc-central a:not(:last-child) {
    margin-bottom: 8rem;
}

section.bloc-central a {
    display: block;
    width: 100%;
    text-decoration: none;
    height: 14rem;
    color: black;
}

section.container-portfolio {
    display: flex;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.container-filtres span {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 50%;
    text-transform: uppercase;
    font-size: 1.2rem;
    right: 1rem;
    font-weight: bold;
    transform: rotate(90deg) translateY(-50%);
}

.filtres ul {
    list-style-type: none;
    padding-left: 0;
    opacity: 1;
}

.filtres ul a {
    text-decoration: none;
    color: #FFF;
    font-size: 6rem;
    background-image: none;
    transition: all .3s;
}

.container-filtres .filtres {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 110vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    top: 0;
}

.container-filtres .filtres:not(ul) {
    cursor: url('../img/cross.png'), default;
}

.filtres li:not(:last-child) {
    margin-bottom: 1rem;
}

.filtres ul li a:hover {
    background-image: repeating-linear-gradient(45deg, #e21919, #dce819c4);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.bloc-mvt {
    position: relative;
    top: 0;
    margin-top: 16rem;
    margin-bottom: 30rem;
}

.categorie {
    width: 27rem !important;
    display: flex;
    flex-direction: row !important;
    margin-top: 1rem;
    transform: translateY(20px);
    opacity: 0;
    transition: all .3s;
    transition-delay: .2s;
}

.portfolio:hover > .categorie, .bloc-mvt .active .categorie {
    opacity: 1;
    transform: translateY(0);
}

.categorie span {
    display: block;
    padding: .3rem 0.7rem;
    background: #000000db;
    color: white;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
}

.categorie span:not(:last-child) {
    margin-right: .2rem;
}

li.sub-elt a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

li.sub-elt a:before {
    width: 15px;
    height: 1px;
    background: black;
    position: absolute;
    content: "";
    top: 50%;
    transition: background .2s;
}

li.sub-elt .nombre {
    opacity: 0;
}

li.sub-elt a:hover > .texte-fin:before, .sub-elt a.hoverPortfolio > .texte-fin:before {
    width: 10px;
    opacity: 1;
}

.sub-elt a:hover > .texte-fin, .sub-elt a.active > .texte-fin, .sub-elt a.hoverPortfolio > .texte-fin {
    color: #000000;
    transform: translateX(0);
}

nav.position-portfolio ul {
    padding-left: 2rem;
    transform: translateY(-82px);
}

span.texte-fin:before, li.sub-elt a.active .texte-fin:before{
    width: 0;
    height: 1px;
    background: black;
    position: absolute;
    opacity: 1;
    content: "";
    top: 50%;
    left: -35px;
    transition: all .3s;
}

li.sub-elt a.active:before {
    background: white;
}

li.sub-elt a.active .nombre {
    opacity: 1;
}

.second-menu .default .home-item {
    animation: menuDefault 4s infinite;
}

.second-menu .hover .home-item {
    animation:  menuHover 4s infinite;
}

@keyframes menuDefault {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes menuHover {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.portfolio h2, .container-projet h1 {
    text-align: center;
    line-height: 85px;
}


.cp--body img {
    clip-path: inset(0 0 50% 0);
    width: 90%;
    transform: scale(0);
}

.container-projet {
    margin-top: 5rem;
    overflow: hidden;
    height: 1400px;
}

.cp--body {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
}

.cp--desc {
    width: 40%;
    margin-left: 5rem;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
}

nav.second-menu .bloc-droit li.active a:after {
    transform: scale(1);
}

.cp--desc a {
    background: #f28046;
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    display: block;
    width: 145px;
    transition: all .2s;
    position: relative;
    overflow: hidden;
    transform: scale(0);
}

.cp--desc a:hover {
    background-color: #eb3a13;
}

.hover--img.active {
    position: relative;
    overflow: hidden;
}

.hover--img.active img {

    animation: show-image .1s .5s forwards;
}

.show-lien {
    width: fit-content;
    height: 46px;
    margin-top: 3rem;
}

.hover--img.active::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 5;
    background-color: red;
    animation: anim-survol 1.2s ease-in-out forwards;
}

.cp--desc .show-lien.active {
    overflow: hidden;
    position: relative;
}

.cp--desc .show-lien.active:before {
    content: "";
    position: absolute;
    width: 140px;
    height: 100%;
    z-index: 5;
    top: 0;
    background: #eb3a13;
    left: -110%;
    animation: anim-survol 1s 1s ease-in-out forwards;
}

.cp--desc .show-lien.active a {
    animation: show-image .1s 1.5s forwards;
}



@keyframes show-image {

    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes anim-survol {
    0% {
        left: -110%;
    }
    50% {
       left: 0;
    }
    100% {
        left: 110%;
    }
}

.filtres ul li {
    transform: translateY(5rem);
    opacity: 0;
}